In [1]:
#Creating a List
#python list can be created by enclosing elements of similar or different data type in square brackets [...], or with range() function

week_days = ['Mon', 'Tue', 'Wed', 'Thur','Fri']
even_numbers = [2, 4, 6, 8, 10]
mixed_list = ['Mon', 1, 'Tue', 2, 'Wed', 3]

# Displaying elements of a list
print(week_days)

['Mon', 'Tue', 'Wed', 'Thur', 'Fri']

In [2]:
# Creating a list with range()

nums = range(5)

for i in nums:
    print(i)

0
1
2
3
4

In [3]:
#Accessing the elements of the list
#We can access the a given element of the list by providing the index of the element in a bracket. The index starts at 0 in Python.

week_days[0]

'Mon'

In [4]:
even_numbers[2]

6

In [5]:
# Getting the last element of the list

print(even_numbers[-1])

10

In [8]:
#Slicing a list
#Given a list, we can slice it to get any parts or combination of its elements forming another list.

# Get the elements from index 0 to 2. Index 2 is not included.
week_days = ['Mon', 'Tue', 'Wed', 'Thur','Fri']
week_days[1:4]

['Tue', 'Wed', 'Thur']

In [9]:
# Get elements from the last fourth elements to the first
# -1 starts at the last element 'Fri', -2 second last element `Thur'..... -4 to 'Tue'

week_days[-4:]

['Tue', 'Wed', 'Thur', 'Fri']

In [10]:
# Get all elements up to the fourth index

week_days[:4]

['Mon', 'Tue', 'Wed', 'Thur']

In [11]:
# Get all elements from the second to the last index

week_days[2:]

['Wed', 'Thur', 'Fri']

In [12]:
#You can use [:] to copy the entire list
week_days[:]

['Mon', 'Tue', 'Wed', 'Thur', 'Fri']

In [13]:
#Changing elements in a list
#Python lists are mutable. We can delete or change the elements of the list.

names = ['James', 'Jean', 'Sebastian', 'Prit']
names

['James', 'Jean', 'Sebastian', 'Prit']

In [14]:
# Change 'Jean' to 'Nyandwi' and 'Sebastian' to 'Ras'

names[1:3] = ['Nyandwi', 'Ras']
names

['James', 'Nyandwi', 'Ras', 'Prit']

In [15]:
# Change 'Prit' to Sun

names[-1] = 'Sun'
names

['James', 'Nyandwi', 'Ras', 'Sun']

In [16]:
# Change `James` to ``Francois`

names[0] = 'Francois'
names

['Francois', 'Nyandwi', 'Ras', 'Sun']

In [17]:
# Delete Nyandwi in names list

del names[1]
names

['Francois', 'Ras', 'Sun']

In [19]:
names = ['James', 'Jean', 'Sebastian', 'Prit']
names.pop(1)
names

['James', 'Sebastian', 'Prit']

In [20]:
names = ['James', 'Jean', 'Sebastian', 'Prit']
names.remove('James')
names

['Jean', 'Sebastian', 'Prit']

In [22]:
# Adding the new elements in list

names = ['James', 'Jean', 'Sebastian', 'Prit']
names.append('Jac')
names.append('Jess')
names

['James', 'Jean', 'Sebastian', 'Prit', 'Jac', 'Jess']

In [23]:
# Given a list names, use for loop to display its elements

names = ['James', 'Jean', 'Sebastian', 'Prit']

for name in names:
    print(name)

James
Jean
Sebastian
Prit

In [24]:
# Given a list nums, add 1 to the first element, 2 to the second, 3 to 3rd element, 4 to 4th element
# Example: nums = [1,2,3,6] will be nums_new = [2,4,6,10]

nums = [1, 2, 3, 6]
nums_new = []

for i in range(len(nums)): #len(nums) gives the length of the list
    num = nums[i] + i + 1
    nums_new.append(num)
    
nums_new

[2, 4, 6, 10]

In [25]:
#Operations on list

# Concatenating two lists
a = [1,2,3]
b = [4,5,6]

c = a + b

c

[1, 2, 3, 4, 5, 6]

In [26]:
# We can also use * operator to repeat a list a number of times

[None] * 5

[None, None, None, None, None]

In [27]:
[True] * 4

[True, True, True, True]

In [28]:
[1,2,4,5] * 2

[1, 2, 4, 5, 1, 2, 4, 5]

In [29]:
#Nested lists

# Creating a list in other list
nested_list = [1,2,3, ['a', 'b', 'c']]

# Get the ['a', 'b', 'c'] from the nested_list
nested_list[3]

['a', 'b', 'c']

In [30]:
# Indexing and slicing a nested list is quite similar to normal list

nested_list[1]

2

In [31]:
# Sorting a list with sort()

even_numbers = [2,14,16,12,20,8,10]

even_numbers.sort()

even_numbers

[2, 8, 10, 12, 14, 16, 20]

In [32]:
# Reversing a string with reverse()

even_numbers.reverse()
even_numbers

[20, 16, 14, 12, 10, 8, 2]

In [33]:
# Adding other elements to a list with append()

even_numbers = [2,14,16,12,20,8,10]

even_numbers.append(40)
even_numbers

[2, 14, 16, 12, 20, 8, 10, 40]

In [34]:
# Removing the first element of a list

even_numbers.remove(2)
even_numbers

[14, 16, 12, 20, 8, 10, 40]

In [35]:
## Return the element of the list at index x

even_numbers = [2,14,16,12,20,8,10]

## Return the item at the 1st index

even_numbers.pop(1)

14

In [36]:
# pop() without index specified will return the last element of the list

even_numbers = [2,14,16,12,20,8,10]
even_numbers.pop()

10

In [40]:
# Count a number of times an element appear in a list

even_numbers = [2,2,4,6,8]
even_numbers.count(2)

2

In [38]:
# We can convert a string into list
stri = 'Apple'
list(stri)

['A', 'p', 'p', 'l', 'e']

In [41]:
# Splitting a string produces a list of individual words

stri_2 = "List and Strings"
stri_2.split()

['List', 'and', 'Strings']

In [42]:
stri_3 = "state-of-the-art"

stri_3.split('-')

['state', 'of', 'the', 'art']

In [43]:
# Creating a dictionary

countries_code = dict()
print(countries_code)

{}

In [44]:
type(countries_code)

dict

In [45]:
# Adding items to the empty dictionary.

countries_code["United States"] = 1

In [46]:
countries_code

{'United States': 1}

In [47]:
countries_code = { 
        "United States": 1,
        "China": 86,
        "Rwanda":250,
        "Germany": 49,
        "India": 91,
}

countries_code

{'United States': 1, 'China': 86, 'Rwanda': 250, 'Germany': 49, 'India': 91}

In [48]:
countries_code['Australia'] = 61
countries_code

{'United States': 1,
 'China': 86,
 'Rwanda': 250,
 'Germany': 49,
 'India': 91,
 'Australia': 61}

In [49]:
# Getting the code of Rwanda

countries_code["Rwanda"]

250

In [50]:
"India" in countries_code

True

In [51]:
# Should be False

"Singapore" in countries_code

False

In [52]:
# Getting the keys and the values and items of the dictionary

dict_keys = countries_code.keys()
dict_values = countries_code.values()
dict_items = countries_code.items()

print(f"Keys: {dict_keys}\n Values:{dict_values}\n Items:{dict_items}")

Keys: dict_keys(['United States', 'China', 'Rwanda', 'Germany', 'India', 'Australia'])
 Values:dict_values([1, 86, 250, 49, 91, 61])
 Items:dict_items([('United States', 1), ('China', 86), ('Rwanda', 250), ('Germany', 49), ('India', 91), ('Australia', 61)])

In [53]:
# Get the value of the Australia

countries_code.get('Australia')

61

In [54]:
# In case a provided key is absent....

countries_code.get('UK', 41)

41

In [55]:
stri = 'aaaaajjj222@@@sss^^^888'

counts = [0] * 128 # Create a list of 128 elements, initially each character count is 0. 

for c in stri:
    c_num = ord(c)
    
    counts[c_num] = counts[c_num] + 1
        
counts

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [56]:
stri = "jdjjdjdjdjjdjdjdj"

counts_dict = {}

for c in stri:
    if c not in counts_dict:
        counts_dict[c] = 1
    
    else:
        counts_dict[c] += 1
        
print(counts_dict)

{'j': 10, 'd': 7}

In [57]:
stri = input(str) #input must be a string

char_count = {}

for c in stri:
    char_count[c] = char_count.get(c,0) + 1
    
print(char_count)

<class 'str'>sfafafwafs
{'s': 2, 'f': 4, 'a': 3, 'w': 1}

In [58]:
countries_code

{'United States': 1,
 'China': 86,
 'Rwanda': 250,
 'Germany': 49,
 'India': 91,
 'Australia': 61}

In [59]:
for country in countries_code:
    print(country)

United States
China
Rwanda
Germany
India
Australia

In [60]:
countries_code.setdefault("UK", 41)

41

In [61]:
countries_code

{'United States': 1,
 'China': 86,
 'Rwanda': 250,
 'Germany': 49,
 'India': 91,
 'Australia': 61,
 'UK': 41}

In [62]:
stri = input(str) #input must be a string

char_count = {}

for c in stri:
    char_count.setdefault(c,0) #If character doesn't exist in char_count, add it and set it to 0
    char_count[c] += 1
    
print(char_count)

<class 'str'>AAAHHSHSHS
{'A': 3, 'H': 4, 'S': 3}

In [63]:
#Tuples
tup = (1,4,5,6,7,8)

In [64]:
# Indexing

tup[4]

7

In [65]:
## Tuples are not changeable. Running below code will cause an error

# tup[2] = 10

In [66]:
# You can not also add other values to the tuple. This will be error
#tup.append(12)

In [67]:
set_1 = {1,2,3,4,5,6,7,8}

set_1

{1, 2, 3, 4, 5, 6, 7, 8}

In [68]:
set_2 = {1,1,2,3,5,3,2,2,4,5,7,8,8,5}
set_2

{1, 2, 3, 4, 5, 7, 8}

In [69]:
# List Vs Set

odd_numbers = [1,1,3,7,9,3,5,7,9,9]

print("List:{}".format(odd_numbers))

print("********")

set_odd_numbers = {1,1,3,7,9,3,5,7,9,9}

print("Set:{}".format(set_odd_numbers))

List:[1, 1, 3, 7, 9, 3, 5, 7, 9, 9]
********
Set:{1, 3, 5, 7, 9}