In [1]:
import pandas as pd
import numpy as np
!curl -O https://raw.githubusercontent.com/nyandwi/public_datasets/master/winequality-red.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   98k  100   98k    0     0   354k      0 --:--:-- --:--:-- --:--:--  354k

In [2]:
wine_data = pd.read_csv('winequality-red.csv')

In [3]:
#Displaying the head of the dataset
wine_data.head

<bound method NDFrame.head of       fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
...       ...      ...
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5
1598     11.0        6

[1599 rows x 12 columns]>

In [4]:
#Displaying the tail of the dataset
wine_data.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [5]:
#Displaying summary statistices
wine_data.describe().transpose

<bound method DataFrame.transpose of        fixed acidity  volatile acidity  citric acid  residual sugar  \
count    1599.000000       1599.000000  1599.000000     1599.000000
mean        8.319637          0.527821     0.270976        2.538806
std         1.741096          0.179060     0.194801        1.409928
min         4.600000          0.120000     0.000000        0.900000
25%         7.100000          0.390000     0.090000        1.900000
50%         7.900000          0.520000     0.260000        2.200000
75%         9.200000          0.640000     0.420000        2.600000
max        15.900000          1.580000     1.000000       15.500000

         chlorides  free sulfur dioxide  total sulfur dioxide      density  \
count  1599.000000          1599.000000           1599.000000  1599.000000
mean      0.087467            15.874922             46.467792     0.996747
std       0.047065            10.460157             32.895324     0.001887
min       0.012000             1.000000              6.000000     0.990070
25%       0.070000             7.000000             22.000000     0.995600
50%       0.079000            14.000000             38.000000     0.996750
75%       0.090000            21.000000             62.000000     0.997835
max       0.611000            72.000000            289.000000     1.003690

                pH    sulphates      alcohol      quality
count  1599.000000  1599.000000  1599.000000  1599.000000
mean      3.311113     0.658149    10.422983     5.636023
std       0.154386     0.169507     1.065668     0.807569
min       2.740000     0.330000     8.400000     3.000000
25%       3.210000     0.550000     9.500000     5.000000
50%       3.310000     0.620000    10.200000     6.000000
75%       3.400000     0.730000    11.100000     6.000000
max       4.010000     2.000000    14.900000     8.000000  >

In [6]:
#Displaying quick information about the dataset
wine_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [7]:
#Checking for missing values
wine_data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [8]:
# wine quality range from 0 to 10. The higher the quality value, the good wine is

wine_data['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [9]:
wine_data.groupby(['fixed acidity', 'volatile acidity', 'citric acid']).sum()

                                            residual sugar  chlorides  \
fixed acidity volatile acidity citric acid
4.6           0.520            0.15                    2.1      0.054
4.7           0.600            0.17                    2.3      0.058
4.9           0.420            0.00                    2.1      0.048
5.0           0.380            0.01                    1.6      0.048
              0.400            0.50                    4.3      0.046
...                                                    ...        ...
15.0          0.210            0.44                    4.4      0.150
15.5          0.645            0.49                    8.4      0.190
15.6          0.645            0.49                    4.2      0.095
              0.685            0.76                    3.7      0.100
15.9          0.360            0.65                    7.5      0.096

                                            free sulfur dioxide  \
fixed acidity volatile acidity citric acid
4.6           0.520            0.15                         8.0
4.7           0.600            0.17                        17.0
4.9           0.420            0.00                        16.0
5.0           0.380            0.01                        26.0
              0.400            0.50                        29.0
...                                                         ...
15.0          0.210            0.44                        20.0
15.5          0.645            0.49                        20.0
15.6          0.645            0.49                        10.0
              0.685            0.76                         6.0
15.9          0.360            0.65                        22.0

                                            total sulfur dioxide  density  \
fixed acidity volatile acidity citric acid
4.6           0.520            0.15                         65.0  0.99340
4.7           0.600            0.17                        106.0  0.99320
4.9           0.420            0.00                         42.0  0.99154
5.0           0.380            0.01                         60.0  0.99084
              0.400            0.50                         80.0  0.99020
...                                                          ...      ...
15.0          0.210            0.44                         48.0  2.00010
15.5          0.645            0.49                         46.0  2.00630
15.6          0.645            0.49                         23.0  1.00315
              0.685            0.76                         43.0  1.00320
15.9          0.360            0.65                         71.0  0.99760

                                              pH  sulphates  alcohol  quality
fixed acidity volatile acidity citric acid
4.6           0.520            0.15         3.90       0.56     13.1        4
4.7           0.600            0.17         3.85       0.60     12.9        6
4.9           0.420            0.00         3.71       0.74     14.0        7
5.0           0.380            0.01         3.70       0.75     14.0        6
              0.400            0.50         3.49       0.66     13.6        6
...                                          ...        ...      ...      ...
15.0          0.210            0.44         6.14       1.68     18.4       14
15.5          0.645            0.49         5.84       1.48     22.2       10
15.6          0.645            0.49         2.92       0.74     11.1        5
              0.685            0.76         2.95       0.68     11.2        7
15.9          0.360            0.65         2.98       0.84     14.9        5

[1333 rows x 9 columns]

In [10]:
wine_data.groupby(['free sulfur dioxide', 'total sulfur dioxide']).sum()

                                          fixed acidity  volatile acidity  \
free sulfur dioxide total sulfur dioxide
1.0                 28.0                           18.2             0.440
                    44.0                            7.9             0.400
2.0                 45.0                            7.9             0.400
3.0                 6.0                            33.0             1.215
                    7.0                            25.8             1.520
...                                                 ...               ...
55.0                95.0                           20.4             1.080
57.0                135.0                           5.9             0.190
66.0                115.0                           6.9             0.630
68.0                124.0                          13.2             1.470
72.0                160.0                           5.9             0.290

                                          citric acid  residual sugar  \
free sulfur dioxide total sulfur dioxide
1.0                 28.0                         0.48             4.2
                    44.0                         0.29             1.8
2.0                 45.0                         0.30             1.8
3.0                 6.0                          1.38             5.0
                    7.0                          0.63             6.0
...                                               ...             ...
55.0                95.0                         0.74            30.8
57.0                135.0                        0.21             1.7
66.0                115.0                        0.33             6.7
68.0                124.0                        0.04            15.8
72.0                160.0                        0.25            13.4

                                          chlorides  density    pH  sulphates  \
free sulfur dioxide total sulfur dioxide
1.0                 28.0                      0.156  1.99800  6.82       1.74
                    44.0                      0.157  0.99730  3.30       0.92
2.0                 45.0                      0.157  0.99727  3.31       0.91
3.0                 6.0                       0.229  2.98892  9.53       1.93
                    7.0                       0.242  2.98210  9.63       1.50
...                                             ...      ...   ...        ...
55.0                95.0                      0.428  2.00738  6.36       1.54
57.0                135.0                     0.045  0.99341  3.32       0.44
66.0                115.0                     0.235  0.99787  3.22       0.56
68.0                124.0                     0.244  1.99880  6.94       1.06
72.0                160.0                     0.067  0.99721  3.33       0.54

                                          alcohol  quality
free sulfur dioxide total sulfur dioxide
1.0                 28.0                     20.6       12
                    44.0                      9.5        6
2.0                 45.0                      9.5        6
3.0                 6.0                      32.7       16
                    7.0                      35.6       18
...                                           ...      ...
55.0                95.0                     18.0       12
57.0                135.0                     9.5        5
66.0                115.0                     9.5        5
68.0                124.0                    19.8       10
72.0                160.0                    10.3        6

[870 rows x 10 columns]