In [1]:
#Control Flow
if 100 < 2:

  print("As expected, no thing will be displayed")

In [2]:
if 100 > 2:

  print("As expected, no thing will be displayed")

As expected, no thing will be displayed

In [3]:
if 100 < 2:

  print("As expected, no thing will be displayed")

else:
  print('Printed')

Printed

In [4]:
# Let's assign a number to a variable name 'jean_age' and 'yannick_age'

john_age = 30
luck_age = 20

if john_age > luck_age:
  print("John is older than Luck")

else:
  print(" John is younger than Luck")

John is older than Luck

In [5]:
# Let's use multiple conditions 

john_age = 30
luck_age = 20
yan_age = 30

if john_age < luck_age:
  print("John is older than Luck")

elif yan_age == luck_age:
  print(" Yan's Age is same as Luck")

elif luck_age > john_age:
  print("Luck is older than John")

else:
  print("John's age is same as Yan")

John's age is same as Yan

In [6]:
# Example 1: Return 'Even' if below num is 'Even' and `Odd` if not. 
num = 45 
'Even' if num % 2 == 0 else 'Odd'

SyntaxError: invalid syntax (669833503.py, line 2)

In [7]:
# Example 2: Return True if a given element is in a list and False if not

nums = [1,2,3,4,5,6]

True if 3 in nums else False

True

In [8]:
#For Loop
even_nums = [2,4,6,8,10]

for num in even_nums:
  print(num)

2
4
6
8
10

In [9]:
week_days = ['Mon', 'Tue', 'Wed', 'Thur','Fri']

for day in week_days:
  print(day)

Mon
Tue
Wed
Thur
Fri

In [10]:
sentence = "It's been a long time learning Python. I am revisiting the basics!!"

for letter in sentence:
  print(letter)

I
t
'
s

b
e
e
n

a

l
o
n
g

t
i
m
e

l
e
a
r
n
i
n
g

P
y
t
h
o
n
.

I

a
m

r
e
v
i
s
i
t
i
n
g

t
h
e

b
a
s
i
c
s
!
!

In [11]:
sentence = "It's been a long time learning Python. I am revisiting the basics!!"

# split is a string method to split the words making the string

for letter in sentence.split():
  print(letter)

It's
been
a
long
time
learning
Python.
I
am
revisiting
the
basics!!

In [12]:
# For loop in dictionary 

countries_code = { "United States": 1,
                 "India": 91,
                 "Germany": 49,
                 "China": 86,
                 "Rwanda":250
            }

for country in countries_code:
  print(country)

United States
India
Germany
China
Rwanda

In [13]:
for code in countries_code.values():
  print(code)

1
91
49
86
250

In [14]:
for number in range(10):
  print(number)

0
1
2
3
4
5
6
7
8
9

In [15]:
for number in range(10, 20):
  print(number)

10
11
12
13
14
15
16
17
18
19

In [16]:
letters = []

for letter in 'MachineLearning':
  letters.append(letter)

letters

['M', 'a', 'c', 'h', 'i', 'n', 'e', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [17]:
#The above code can be simplified to the following code
letters = [letter for letter in 'MachineLearning']

letters

['M', 'a', 'c', 'h', 'i', 'n', 'e', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [ ]:
a = 10
while a < 20:
    print('a is: {}'.format(a))
    a = a + 1