In [1]:
#We can manipulate strings in many ways. A simple example is to concat the strings

str_var = 'One'
str_var2 = 'Hundred'
str_var + str_var2

'OneHundred'

In [2]:
str_var + ' ' + 'and' + ' '+ str_var2 + '.'

'One and Hundred.'

In [3]:
# We can use print() to display a string

print(" This is a string")

 This is a string

In [4]:
# We can also compare strings to check whether they are similar. 
# If they are similar, case by case, comparison operator returns true. Else false

"A string" == "a string" #boolean

False

In [5]:
"A string" == "A string"

True

In [10]:
#Strings Methods

sentence = 'This IS A String'

# Case capitalization 
# It return the string with first letter capitalized and the rest being lower cases. 

sentence.capitalize()

'This is a string'

In [11]:
# Given a string, convert it into title (each word is capitalized)

sentence_2 = 'this is a string to be titled'
sentence_2.title()

'This Is A String To Be Titled'

In [12]:
# Converting the string to upper case

sentence.upper()

'THIS IS A STRING'

In [13]:
# Converting the string to upper case

sentence.lower()

'this is a string'

In [14]:
# Splitting the string

sentence.split()

['This', 'IS', 'A', 'String']

In [1]:
#Replace method
#given the string "This movie was awesome", replace the world movie with project

stri = "This movie was awesome"
stri.replace('movie', 'project')

'This project was awesome'

In [2]:
# In the following string, replace all spaces with `%20'

stri_2 = "The future is great"
stri_2.replace(' ', '%20')

'The%20future%20is%20great'